@model PartyInvites2.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Style.css" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel panel-heading"><h1>RSVP</h1></div>
        <div class="panel-body">
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label>Your Name:</label>
                    @Html.TextBoxFor(x => x.Name,new { @class = "form-control"}) 
                </div>
                <div class="form-group">
                    <label>Your Email Address:</label> 
                    @Html.TextBoxFor(x => x.Email,new {@class="form-control" })
                </div>
                <div class="form-group">
                        <label>Your Phone number: </label>
                        @Html.TextBoxFor(x => x.PhoneNumber, new {@class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Will you be Attending:</label>
                    @Html.DropDownListFor(x => x.WillAttend, new[] {
                                           new SelectListItem(){Text = "Yes I will be there", Value =bool.TrueString},
                                           new SelectListItem(){Text = "No I wont be Attending", Value = bool.FalseString }
                    },"Choose an Option", new {@class = "form-control" } )

                </div>
                <div class="text-center">
                    <input type="submit" value="Submit Rsvp" />
                </div>
            }
        </div>
    </div>
</body>
</html>
